$theam-color-client:#1C8AD8;
 
 

.inner-addon{
    position: relative; 
    i{
        font-size: 16px;
    }
}
.inner-addon .fa {
    position: absolute;
    padding: 6px;
    pointer-events: none;
 
  }
  .left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left: 23px; }
.right-addon input { padding-right: 30px; }
 .header{
    background-color: $theam-color-client;
    padding: 10px;
    /* margin-bottom: 17px; */
    padding-bottom: 25px;
    background: green;
    color: white;
}
.modal-body{
    background: #E9ECEF;
}
input{
    border-radius: 0;
}
.red{
    color:red;
}
.form-group {
    margin-bottom: 5px !important;
}
.plusIcon{
    position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: block;
}
.plustbutton{
    margin-top: 28px !important;
    width: 7% !important;
    padding: 16px !important;
}
.plusbutonafter{
    margin-top: 2px !important;
    width: 7% !important;
    padding: 16px !important;
    margin-left: 5%  !important;
}
hr{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.selecttable > td {padding: 1px 8px;
    vertical-align: middle;}
    .pagination>li:first-child>button, .pagination>li:first-child>span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    
    .pagination>li>button, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }