<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand">
				Monitoring				
			</a>		
		 
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container">
	
	<div class="content clearfix" style ="    margin-top: 11px;">
		 
		<form name ="heroForm" #heroForm="ngForm">
		
			<img src ="assets/img/xenius-logo.png" style="    margin: auto;
			margin-left: 59px;
			padding: 2px;
			width: 192px;
			margin-bottom: 11px;">		
			
			<div class="login-fields">
				
				<p>Please provide your details</p>
				
				<div class="field">
					<label for="username">Username</label>
					<i class="fa fa-smile-o" aria-hidden="true" style ="      color: #8c8c8c;  margin-left: 14px;
					margin-top: 8px;
					position: fixed;
					font-size: 24px;"></i>
					<input type="text" class="form-control"  placeholder="Name" id="name"
					required
					[(ngModel)]="model.login_id" name="name"
					#name="ngModel">
			 <div [hidden]="name.valid || name.pristine"
				  class="alert alert-danger">
			   Name is required
			 </div>				</div> <!-- /field -->
				
				<div class="field">

					<label for="password">Password:</label>
					<i class="fa fa-key" aria-hidden="true" style ="     color: #8c8c8c;   margin-left: 14px;
					margin-top: 8px;
					position: fixed;
					font-size: 24px;"></i>

					<input type="text" class="form-control" id="name" placeholder="Password"
					required
					[(ngModel)]="model.password" name="password"
					#password="ngModel">
			 <div [hidden]="password.valid || password.pristine"
				  class="alert alert-danger">
				  password is required
			 </div>					</div> <!-- /password -->
				
			</div> <!-- /login-fields -->
			
			<div class="login-actions">
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>
									
				<button class="button btn btn-success btn-large" [disabled]="!heroForm.form.valid" (click)="Login()" style ="    width: 100%;">Sign In</button>
				
			</div> <!-- .actions -->
			
			
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->



 
